.grouping-div, .text-field-div {
    width: 500px;
}

.small-text-field-div {
    width: 300px;
}

.grouping-div, .unsized-grouping-div {
    margin: 30px 0;
}

.grouping-header {
    margin-bottom: 20px;
}

.gmap_canvas {
    width: 100%;
    min-height: 786px;
    height: 100%;
}

.text-align-center {
    text-align: center;
}

.slider {
    width: 150px;
}

.report-cell {
    border: 1px solid black;
    border-collapse: collapse;
}

.report-header {
    text-align: left;
    color: white;
    background-color: darkblue;
    padding-top: 12px;
}

.report-description {
    font-weight: bold;
}

.report-data {
    padding-left: 10px;
}

.report-columnsplit {
    padding-left: 10px;
    border-left: 3px solid black;
}