.theme--dark.v-table thead th {
    background-color: #424242;
}

.theme--light.v-table thead th {
    background-color: #fff;
}

.fixed-header {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fixed-header table {
    table-layout: fixed;
}

.fixed-header th {
    position: sticky;
    top: 0;
    z-index: 5;
}

.fixed-header th:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.fixed-header tr.v-datatable__progress th {
    height: 1px;
}

.fixed-header .v-table__overflow {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-x: auto;
    overflow-y: auto;
}

.fixed-header .v-datatable.v-table {
    flex-grow: 0;
    flex-shrink: 1;
}

.fixed-header .v-datatable.v-table .v-datatable__actions {
    flex-wrap: nowrap;
}

.fixed-header .v-datatable.v-table .v-datatable__actions .v-datatable__actions__pagination {
    white-space: nowrap;
}

/*old Colors */
.paper-white-bg {
    background-color: #FFFFFF !important;
}

.ara-blue-pantone-289-bg {
    background-color: #00204B !important;
}

.ara-blue-bg {
    background-color: #008FCA !important;
}

.ara-orange-bg {
    background-color: #F05632 !important;
}

.ara-blue {
    color: #008FCA !important;
}

.ara-orange {
    color: #F05632 !important;
}

.ara-blue-pantone-281 {
    color: #002E6C !important;
}

.ara-black {
    color: #000000 !important;
}


/* Colors for UI update design by GHD */

.ghd-white-bg {
    background-color: #FFFFFF !important;
} 

.ghd-white {
    color: #FFFFFF !important;
}

.ghd-blue {
    color: #2A578D !important;
}

.ghd-blue-bg {
    background-color: #2A578D !important;
}

.ghd-lt-gray {
    color: #999999 !important;
}

.ghd-md-gray {
    color: #666666 !important;
}

.ghd-dk-gray {
    color: #333333 !important;
}


/* Controls (general) */
.ghd-control-label {
    height: 22px !important;
    padding: 0px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 13px !important;
    font-weight: 400 !important;
}

.ghd-control-subheader{
    padding: 0px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    position: relative;
}

.ghd-control-subheader span{
    position: absolute !important;
    bottom: 0 !important;
}

.ghd-control-border .v-input__slot {
    border: 1px solid #999999 !important;
    border-radius: 4px !important;    
}

.ghd-control-text {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px !important;
    padding-top: 0px !important;
}

/* Select */
v-input.ghd-control-text  {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px !important;    
}

v-list-item.ghd-control-text {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px !important;    
    font-weight: 600 !important;
    color: #333333 !important;
}

.ghd-control-text-sm {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 12px !important;
    padding-top: 0px !important;
}

.ghd-control-text .v-label {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px !important;
    padding-top: 0px !important;
    font-weight: normal;
    top: 5px !important;
}

.ghd-control-text .v-select__selections {
    padding-top: 0px !important;
    vertical-align: middle !important;
}


/* Text Field/Area */
.ghd-control-text .v-input__control .v-input__slot {
    vertical-align: middle !important;
    min-height: 40px;
}

.ghd-control-text .v-input__control .v-input__slot .v-text-field__slot input {
    margin-top: 5px !important;
}

.ghd-control-text label {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500 !important;
    font-size: 13px !important; 
    color: #999999;    
}

.ghd-control-text .v-textarea.v-text-field--box .v-text-field__prefix, .v-textarea.v-text-field--enclosed .v-text-field__prefix, .v-textarea.v-text-field--box textarea, .v-textarea.v-text-field--enclosed textarea {
    margin-top: 0px !important;
}

.ghd-control-dialog-header{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
    font-size: 18px; 
    color: #444444;
}
.ghd-dialog-text-field-padding{
    padding-left: 30px;
    padding-right: 30px;

}
.ghd-dialog-padding-bottom-buttons{
    padding-bottom: 40px;
}
.ghd-dialog-padding-top-title{
    padding-top: 30px;
    padding-left: 30px;
}
.ghd-text-field-border .v-input__control .v-input__slot{
    border: solid 1px #999999 !important;
}
  
.ghd-text-field .v-input__control .v-input__slot{
    min-height: 40px;
    height: 40px;
} 
  
.ghd-text-field .v-input__control .v-input__slot .v-text-field__slot input{
    margin-top: 5px !important;
}

.ghd-blue-text-field .v-input__control .v-input__slot{
    border-color: #2A578D !important;
}

.ghd-left-paired-textbox .v-input__control .v-input__slot{
    margin-top: 6px;
    min-height: 36px;
    height: 36px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 3px !important;
    padding-right: 3px !important;
    width: 50px;
    min-width: 50px;
}

.ghd-left-paired-textbox .v-input__control .v-input__slot .v-text-field__slot input{
    margin-top: 2px !important;
}

.ghd-right-paired-button{
    margin-left: 4px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 5px !important;
}


/* Button */
.ghd-button{
    border-radius: 5px;
}

.ghd-button-border {
    border: 1px solid #99999980 !important;
}

.ghd-button-text {
    padding: 0px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    text-transform: none !important;
}

.ghd-outline-button-padding .v-btn__content{
    padding-left: 5px;
    padding-right: 5px;
}

.ghd-close-button{
    min-width: 0 !important;
    margin: 0 !important;
}

.ghd-close-button .v-btn__content{
    font-size: 1.5rem;
}

.ghd-separated-button{
    min-width: 0 !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.ghd-button-text-sm {
    padding: 0px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    text-transform: none !important;
}

/* Checkbox */
/* checkbox text */
.ghd-checkbox .v-label {
    height: 14px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    padding-top: 6px !important;
    min-height: 14px;
}

.ghd-checkbox .v-input .v-input__control .v-input__slot .v-input--checkbox .v-input--selection-controls {
    height: 14px !important;
    min-height: 14px;
}

.ghd-md-gray .v-label {
    color: #666666 !important;
}

/* checkbox icon */
.ghd-checkbox .v-checkbox {
    padding-top: 0px !important;
    margin-top: 0px !important;    
}

.ghd-md-gray .v-checkbox {
    color: #666666 !important;
}

.ghd-checkbox .accent--text {
    color: #666666 !important;
    caret-color: #666666 !important;
}


/* Navigation List */
.ghd-navigation-list .primary--text {
    background-color: #2A578D !important;
    color: #FFFFFF !important;
}

.ghd-navigation-list .primary--text .v-icon {
    background-color: #2A578D !important;
    color: #FFFFFF !important;
}

.ghd-navigation-list .v-icon {
    background-color: #FFFFFF !important;
    color: #999999 ! important;
}

.ghd-navigation-rawdata-list .primary--text {
    background-color: #FFFFFF !important;
    color: black !important;
}

.ghd-dialog {
    padding:30px !important;
}

.v-card__text.ghd-dialog {
    padding-right:0px !important;
    padding-left:0px !important;      
}

h3.ghd-dialog {
    color: #444444 !important;
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 22px !important;
    padding:0px !important;
}

.v-card__title.ghd-dialog  {
    padding-right:0px !important;
    padding-left:0px !important;
    padding:0px !important;
}

.edit-icon, .plus-icon {
    color: forestgreen !important;
}

.output {
    border-bottom: 1px solid;
}

.sm-txt {
    font-size: 12px;
}

html {
    overflow-y: scroll;
  }

  .modal-pop-up-padding {padding: 15px;}

/* ghd table  */
table.v-table thead th {
    font-size: 14px !important;
    font-weight:500 !important;
    color: #4A4A4A;
}
table.v-table tbody td input {
  font-size: 14px !important;
  font-weight:400 !important;
  color: #333333;
  padding-bottom:0px;
}

.ghd-table{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.ghd-table td{
    padding-left: 0 !important;
}

.ghd-table th{
    padding-left: 0 !important;
}

.ghd-table thead tr th:first-child{
    padding-left: 14px !important;
}

.ghd-table tbody tr td:first-child{
    padding-left: 14px !important;
}

.dialog-header{
    display: block; 
    color:rgb(59, 57, 65);
}

.notification-long-message {
    display: inline-block;
    min-inline-size: 90%;
    padding: 10pt;
    margin: 10pt 10pt 10pt 10pt;
    border-radius: 4pt;
    box-shadow: 0 3pt 5pt rgba(0, 0, 0, 0.25);
    font-size: 100%;
}

.scenario-status {
    display: block;
    padding-left: 18px;
    color: #2a578d !important;
    font-weight: bold;
    font-size: 16px;
}

.notification-message {
    text-align: left;
}

/* Tabbing */
.v-tabs__slider-wrapper{
    opacity: 0;
}
  
.v-tabs__container{
    border-bottom: thin solid rgba(0,0,0,.12);
}
  
.v-tabs__div .v-tabs__item--active{
    background: white ;
    border-top: thin solid rgba(0,0,0,.12) ;
    border-left: thin solid rgba(0,0,0,.12);
    border-right: thin solid rgba(0,0,0,.12);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
  
.v-tabs__item{
    color: #2A578D !important;
}
  
.v-tabs__item--active{
    color: lightgray !important;
}


.Montserrat-font-family{
    font-family: 'Montserrat' !important;
}

.v-btn {
    text-transform: unset !important;
}

.v-tabs__item{
    text-transform: unset !important;
}
.v-tabs__div{
    text-transform: unset !important;
}

.ghd-subheader{
    padding-left: 0 !important;
    height: 30px !important; 
 }

 .ghd-select .v-input__control .v-input__slot .v-select__slot .v-select__selections{
     padding-top: 0;
 }

 .ghd-select .v-input__control .v-input__slot .v-select__slot .v-select__selections input{
     margin-top: 0;
 }

 .ghd-select .v-input__control .v-input__slot .v-select__slot .v-input__append-inner{
    margin-top: 8px;
}

/* Dialog box padding */

.ghd-dialog-box-padding-top{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.ghd-dialog-box-padding-center{
    padding-left: 30px;
    padding-right: 30px;
}

.ghd-dialog-box-padding-bottom{
    padding-bottom: 30px;
}

/* Pagination */

.ghd-pagination button{
    border: solid 2px #2A578D !important;
    color: #2A578D !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    height: 2.4rem !important;
}

.ghd-pagination button.primary{
    border: none !important;
    box-shadow: none !important;
    color: #A8AFB0 !important;
    background-color: white !important;
}

.ghd-pagination button.v-pagination__navigation{
    border: solid 2px #2A578D !important;
    color: #2A578D !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    width: 2.4rem !important;
    height: 2.4rem !important;
}

.ghd-pagination button.v-pagination__navigation i{
    color: #2A578D !important;
}

.ghd-pagination button.v-pagination__navigation.v-pagination__navigation--disabled{
    border: solid 2px #A8AFB0 !important;
    color: #A8AFB0 !important;
    border-radius: 4px !important;
    box-shadow: none !important;
}

.ghd-pagination button.v-pagination__navigation.v-pagination__navigation--disabled i{
    color: #A8AFB0 !important;
}

.owner-shared-divider{
    height: 22px;
    margin-top: 6px !important;
}

.header-text-content{
    padding-left: 10px;
    padding-right: 10px;
}

.ghd-constant-header{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.ghd-constant-header .layout{
    margin-top: -4px !important;
    margin-bottom: -4px !important;
}

.ghd-sidebar-raw-data{
    position: absolute;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid #EEEEEE !important;
    max-height: 100%;
}

.ghd-sidebar-libary{
    position: absolute;
    max-height: 468px;
}

.ghd-sidebar-scenario{
    position: absolute;
    max-height: 600px;
}

.ghd-blue-border
{
    border-color: #2A578D !important;
    border-style: solid !important;
}

.ghd-text-padding{
    padding: 5px !important;
}

.ghd-padding{
    padding: 10px !important;
}

.ghd-padding-top{
    padding-top: 10px !important;
}

.ghd-left-padding{
    padding-left: 10px !important;
}

.ghd-right-padding{
    padding-right: 10px !important;
}

.ghd-control-width{
    width: 250px !important;
}

.ghd-control-width-sm{
    width: 200px !important;
}

.ghd-control-width-lg{
    width: 400px !important;
}

.ghd-control-width-dd{
    width: 340px !important;
}

.ghd-card-width{
    min-width: 1200px !important;
}

.v-label--active{
display: none !important;
}

.v-small-dialog__actions .v-btn
{
    padding: 0px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    text-transform: none !important;
    color: #2A578D !important;
}

.v-input__control .v-input__slot .accent--text{
    color: #2A578D !important;
    caret-color: #2A578D !important;
}

.ghd-title{
    height: 22px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px !important;
    font-weight: 500 !important;
}

.sharing label {
    padding-top: 0.5em;
}

.sharing {
    padding-top: 0;
    margin: 0;
}

/* Icons */
.img-shift{
    position: relative;
    top: -9px;
}

.img-general{
    height: 25px
}

.search-icon-general .v-input__icon {
    position: relative;
    bottom: 7px;
}

.asc .table-sort-icon, .desc .table-sort-icon{
    stroke: #4A4A4A !important;
}

.table-sort-size{
    height: 20px !important
}

.bottom-margin-zero label {
    margin-bottom: 0 !important;
} 

.ghd-margin-top{
    margin-top: 25px !important;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.ghd-content{
    padding-left: 295px !important;
}