.theme--dark.v-table thead th {
    background-color: #424242;
}

.theme--light.v-table thead th {
    background-color: #fff;
}

.fixed-header {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fixed-header table {
    table-layout: fixed;
}

.fixed-header th {
    position: sticky;
    top: 0;
    z-index: 5;
}

.fixed-header th:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.fixed-header tr.v-datatable__progress th {
    height: 1px;
}

.fixed-header .v-table__overflow {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-x: auto;
    overflow-y: auto;
}

.fixed-header .v-datatable.v-table {
    flex-grow: 0;
    flex-shrink: 1;
}

.fixed-header .v-datatable.v-table .v-datatable__actions {
    flex-wrap: nowrap;
}

.fixed-header .v-datatable.v-table .v-datatable__actions .v-datatable__actions__pagination {
    white-space: nowrap;
}

.paper-white-bg {
    background-color: #FFFFFF !important;
}

.ara-blue-pantone-281-bg {
    background-color: #002E6C !important;
}

.ara-blue-pantone-289-bg {
    background-color: #00204B !important;
}

.ara-blue-bg {
    background-color: #008FCA !important;
}

.ara-orange-bg {
    background-color: #F05632 !important;
}

.ara-light-gray-bg {
    background-color: #B0BFC8 !important;
}

.ara-light-gray {
    color: #B0BFC8 !important;
}

.ara-blue {
    color: #008FCA !important;
}

.ara-orange {
    color: #F05632 !important;
}

.ara-yellow {
    color: #D1DD30 !important;
}

.ara-dark-gray {
    color: #798899 !important;
}

.ara-blue-pantone-281 {
    color: #002E6C !important;
}

.ara-blue-new {
    color: #2A578D !important;
}

.ara-black {
    color: #000000 !important;
}


/* Colors for UI update design by GHD */

.ghd-white-bg {
    color: #FFFFFF !important;
} 

.ghd-white-bg {
    background-color: #FFFFFF !important;
} 

.ghd-blue-bg {
    background-color: #2A578D !important;
}

.ghd-white {
    color: #FFFFFF !important;
}

.ghd-blue {
    color: #2A578D !important;
}

.ghd-lt-gray {
    color: #999999 !important;
}

.ghd-md-gray {
    color: #666666 !important;
}

.ghd-dk-gray {
    color: #333333 !important;
}


/* Controls (general) */
.ghd-control-label {
    height: 22px !important;
    padding: 0px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 13px !important;
    font-weight: 400 !important;
}

.ghd-control-border .v-input__slot {
    border: 1px solid #999999 !important;
    border-radius: 4px !important;    
}

.ghd-control-text {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px !important;
    padding-top: 0px !important;
}

.ghd-control-text .v-label {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px !important;
    padding-top: 0px !important;
    font-weight: normal;
}

.ghd-control-text .v-select__selections {
    padding-top: 0px !important;
    vertical-align: middle !important;
}

.ghd-control-text .v-text-field--box input, .v-text-field--full-width input, .v-text-field--outline input
{
    margin-top: 11px !important;
    vertical-align: middle !important;
}

.ghd-control-text .v-textarea.v-text-field--box .v-text-field__prefix, .v-textarea.v-text-field--enclosed .v-text-field__prefix, .v-textarea.v-text-field--box textarea, .v-textarea.v-text-field--enclosed textarea {
    margin-top: 0px !important;
}


/* Button */
.ghd-button-border {
    border: 1px solid #99999980 !important;
}

.ghd-button-text {
    padding: 0px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    text-transform: none !important;
}


/* Checkbox */
/* checkbox text */
.ghd-checkbox .v-label {
    height: 14px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    padding-top: 6px !important;
}

.ghd-md-gray .v-label {
    color: #666666 !important;
}

/* checkbox icon */
.ghd-checkbox .v-checkbox {
    padding-top: 0px !important;
    margin-top: 0px !important;    
}

.ghd-md-gray .v-checkbox {
    color: #666666 !important;
}

.ghd-checkbox .accent--text {
    color: #666666 !important;
    caret-color: #666666 !important;
}


/* Navigation List */
.ghd-navigation-list .primary--text {
    background-color: #2A578D !important;
    color: #FFFFFF !important;
}

.ghd-navigation-list .primary--text .v-icon {
    background-color: #2A578D !important;
    color: #FFFFFF !important;
}

.ghd-navigation-list .v-icon {
    background-color: #FFFFFF !important;
    color: #999999 ! important;
}


.edit-icon, .plus-icon {
    color: forestgreen !important;
}

.output {
    border-bottom: 1px solid;
}

.sm-txt {
    font-size: 12px;
}

html {
    overflow-y: scroll;
  }

  .modal-pop-up-padding {padding: 15px;}

  table.v-table thead th {
    font-size: 14px !important;

}
table.v-table tbody td {
  font-size: 15px !important;
}

.dialog-header{
    display: block; 
    color:rgb(59, 57, 65);
  }
  
  
  .v-btn {
    border-radius: 6px !important;
  }

.notification-long-message {
    display: inline-block;
    min-inline-size: 90%;
    padding: 10pt;
    margin: 10pt 10pt 10pt 10pt;
    border-radius: 4pt;
    box-shadow: 0 3pt 5pt rgba(0, 0, 0, 0.25);
    font-size: 100%;
}

.scenario-status {
    display: inline;
    min-inline-size: 90%; 
    padding: 2%;  
}

.notification-message {
    text-align: left;
}

/* This is to change how tabbing looks -BCT */
.v-tabs__slider-wrapper{
    opacity: 0;
}
  
.v-tabs__container{
    border-bottom: thin solid rgba(0,0,0,.12);
}
  
.v-tabs__div .v-tabs__item--active{
    background: white ;
    border-top: thin solid rgba(0,0,0,.12) ;
    border-left: thin solid rgba(0,0,0,.12);
    border-right: thin solid rgba(0,0,0,.12);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
  
.v-tabs__item{
    color: #2A578D !important;
}
  
.v-tabs__item--active{
    color: lightgray !important;
}

.ara-text-field-border .v-input__control .v-input__slot{
    border: solid 1px #999999 !important;
}
  
.ara-text-field .v-input__control .v-input__slot{
    min-height: 40px;
    height: 40px;
} 
  
.ara-text-field .v-input__control .v-input__slot .v-text-field__slot input{
    margin-top: 5px;
}

.Montserrat-font-family{
    font-family: 'Montserrat' !important;
}

.v-btn {
    text-transform: unset !important;
}

.v-tabs__item{
    text-transform: unset !important;
}
.v-tabs__div{
    text-transform: unset !important;
}
.ghd-title{
    font-family: 'Montserrat' !important;
    font-size: 18px !important;
    color: #444444 !important
}

.ghd-blue-border
{
    border-color: #2A578D !important;
    border-style: solid !important;
}

.dhg-text-padding{
    padding: 5px !important;
}

.ghd-control-width{
    width: 250px !important;
}

.v-label--active{
display: none !important;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');